/* UTILS && GLOBALS */
:root {
  --media-sm: 576px;
  --media-md: 768px;
  --media-lg: 992px;
  --media-xl: 1280px;
  --media-xxl: 1400px;
  --color-primary: #00b19d;
  --color-secondary: #00535e;
  --color-third: #00d5bd;
  --color-main-gray: #716f87;
  --color-v1-white: #f0f0f0;
  --font-family: "Montserrat", "Roboto", sans-serif;
}
/* Global config */
* {
  box-sizing: border-box;
}
html,
body {
  font-family: var(--font-family);
  font-size: 62.5%;
}
/* Client config */
textarea {
  min-height: 15rem;
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;
  font-family: var(--font-family);
  margin-bottom: 0.5rem;
  padding: 1rem;
  resize: none;
  width: 100%;
}
div {
  font-size: 1.6rem;
}
h5 {
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.main {
  display: grid;
  margin: 0 auto;
  max-width: 480px;
}
.actions {
  margin: 7rem 0 0;
  padding: 1rem;
}
.form__add__element input[type="submit"] {
  background-color: var(--color-primary);
  border: 0;
  border-radius: 0.5rem;
  color: var(--color-v1-white);
  cursor: pointer;
  font-size: 1.6rem;
  padding: 0.5rem 0;
  text-transform: uppercase;
  width: 100%;
}
.results {
  max-height: 25rem;
  overflow-y: scroll;
  padding: 1rem;
}
.results__item {
  margin: 1rem 0;
  border: 1px solid var(--color-main-gray);
  border-radius: 1rem;
  padding: 1rem;
}
.toolbar {
  background-color: var(--color-primary);
  left: 0;
  max-height: 6rem;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  overflow-y: scroll;
}
.toolbar ul {
  display: inline-block;
}
.toolbar ul li {
  color: var(--color-v1-white);
  border-bottom: 1px solid var(--color-v1-white);
  padding-bottom: 0.2rem;
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}
